@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100vh;
}

header {
    background-color: rgb(9, 9, 85);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.185);
    margin-bottom: 50px;
}

header > h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: normal;
    color: white;
    text-align: center;
    padding: 30px;
}

span#burguer {
    background-color: rgb(65, 65, 97);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 2px solid rgb(9, 9, 85);
}

span#burguer:hover {
    background-color: rgb(109, 109, 117);
}

menu {
    display: none;
}

menu > ul > li {
    text-align: center;
    border: 2px solid rgb(9, 9, 85);
   
}

menu > ul > li > a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    background-color:  rgb(65, 65, 97);
    box-shadow: 5px 2px 3px  rgba(0, 0, 0, 0.418);
}

menu > ul > li > a:hover {
    background-color: rgb(109, 109, 117);
}

menu > ul > li > a:active{
    font-size: 0.9em;
    animation: alternate;
}

main {
    text-align: justify;

}

main h2 {
    font-size: 2em;
    margin: 20px 0px;
}

main h3 {
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}

main p {
    margin: 30px 0px;
    font-size: 1.1em;
    line-height: 1.5em;
}

mark {
    background-color: lightgrey;
    padding: 2px;
    border-radius: 5px;
}

blockquote {
    padding: 0px 10px;
    margin: 20px;
    font-size: 1.2em;
    line-height: 1.7em;
}

figure {
    text-align: center;
    margin: 0px;
}

figcaption {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 20px;
}

main a {
    text-decoration: none;
    color: rgb(9, 9, 85);
}

main a:hover {
    text-decoration: underline;
}


footer {
    background-color: rgb(9, 9, 85);
    padding: 10px;
    font-size: 1.2em;
}

footer p {
    text-align: center;
    padding: 15px;
}

footer p {
    color: white;
    
}