@charset "UTF-8";


header {
    margin-bottom: 20px;
}

header h1 {
    padding: 50px;
}



main {
    padding: 30px;
}

main p {
    font-size: 1.2em;
    line-height: 1.8em;
}

img {
    width: 100%;
}



