@charset "UTF-8";

/*Estilos para impressao*/

*{
    margin: 5px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

header h1 {
    text-align: center;
}

menu {
    display: none;
}


footer {
    display: none;
}