@charset "UTF-8";
body { 
    background-color: #484857;
    font-size: large;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif
}
h1 {
    font-family: fantasy;
    color: #c1bffa;
}
h2 {
    font-family: monospace;
    color: #E6A507;
}
p {
    color: azure;
}
a {
    
    font-family: 'Times New Roman', Times, serif; 
    color: #a4a2e2;
}